body {
	margin: 0;
}

.wrap {
	margin: auto;
	position: relative;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

span {
	color: #ff7255;
	font-family: 'open_sanssemibold';
}

h1 {
	font-family: 'open_sanssemibold';
	font-size: 3.125em !important;
	color: #585858;
}

/*
***********
* =header
***********
*/

header {
	background: #f5f5f5;
	position: absolute;
	width: 100%;
	height: 920px;
}

#logo {
	font-family: 'open_sanssemibold';
	margin: 5.555555555% 0 0 10.416666666%;
	border: 3px solid #706b73;
	box-sizing: border-box;
	width: 9.375rem;
	font-size: 2.360625em;
	padding: 0.486111111% 1.125rem;
	text-align: center;
	box-shadow: inset 0px 0px 1px #aeacb0;
	float: left;
}

#logo:first-letter {
	color: #fa9a87;
}

header i {
	margin: 5.555555555% 10.416666666% 0 0;
	float: right;
}

.description {
	margin: auto;
    margin-top: 19.791666666%;
    width: 48.958333333%;
	text-align: center;
	font-family: 'open_sansregular';
}

.description h1 {
	font-size: 3.125em;
	margin-bottom: 10px;
	color: #6e6e6e;
}

.description p {
	color: #7b7b7b;
	font-size: 1em;
	line-height: 1.5625em;
}

.description span {
	color: #fc7254;
	font-family: 'open_sanssemibold';
}

form {
	width: 370px;
	height: 390px;
	position: absolute;
	bottom: -5px;
	margin-left: 150px;
	background: white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 125px -35px black;
}

form input {
	width: 295px;
	font-family: 'open_sansregular';
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #c7c7c7;
	margin-bottom: 35px;
	padding-bottom: 10px;
	margin-left: 40px;
}

form input:nth-child(3) {
	margin-bottom: 0;
}

form input:nth-child(4) {
	height: 110px;
	margin-bottom: 0;
}

#btn {
	height: 50px;
	width: 235px;
	margin-left: 70px;
	margin-top: 18px;
	background: #ff5c36;
	font-size: 1rem;
	color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
}

form h3 {
	font-size: 20px;
	margin-left: 110px;
	font-weight: lighter;
}

/*
***********
* =work-process
***********
*/

.work-process {
	position: absolute;
    top: 920px;
    width: 100%;
}

.work-process h1 {
/*	margin-top: 0;*/
}

.work-process .description {
	margin-top: 10.069444444%;
}

.work-process ul {
	padding: 0;
	margin-top: 7.638888888%;
    margin-bottom: 12.5%;
}

.work-process li {
	display: inline-table;
	width: 18.055555555%;
	margin-right: 02.083333333%;
	text-align: center;
	color: white;
	position: relative;
}

.work-process li:first-child {
	margin-left: 10.416666666%;
	background: #4eb2f7;
}

.work-process li:nth-child(2) {
	background: #c049f8;
}

.work-process li:nth-child(3) {
	background: #817eff;
}

.work-process li:last-child {
	background: #f74770;
}

.work-process li:last-child i {
	-moz-transform: rotate(-15deg); /* Для Firefox */
    -ms-transform: rotate(-15deg); /* Для IE */
    -webkit-transform: rotate(-15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-15deg); /* Для Opera */
    transform: rotate(-15deg);
}

.work-process li i {
    margin-top: 19.235%;
	opacity: 0.9;
}

.work-process li p {
	font-family: 'open_sansregular';
	font-size: 0.9375em;
	margin: auto;
	margin-top: 09.615384615%;
    width: 85.153846%;
	padding-bottom: 13%;
}

.btn {
	position: absolute;
    bottom: -1.75rem;
    left: 0.9375rem;
    font-size: 1em;
    font-family: opensansreguar;
    background: white;
    color: black;
    width: 87.692307692%;
    height: 21.153846153%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: 0 0 70px -23px black;

}

.work-process li .btn p {
	padding-top: 1.125rem;
	font-family: 'open_sansregular';
    font-size: 0.9375em;
    margin: auto;
    width: 71.153846153%;
}


/*
***********
* =featured-work
***********
*/

.featured-work {
	position: absolute;
	top: 1690px;
	width: 100%;
	background: #fbfbfb;
}

.featured-work .description {
	margin-top: 9.027777777%;
}

.featured-work ul {
	padding: 0;
	margin: auto;
	margin-top: 7.638888888%;
	margin-bottom: 11.805555555%;
	width: 78.819444444%;
}

.featured-work li {
    display: inline-block;
    width: 31.222515391%;
    height: 355px;
    background: #ff5c36;
    margin-right: 2.643171806%;
    margin-bottom: 1.763%;
}

.featured-work li:nth-child(3), .featured-work li:nth-child(6), .featured-work li:last-child {
	margin-right: 0;
}